* {
  text-align: center;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  width: 100%;
  height: auto;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

nav {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}
